.main_div {
	display:flex;
	
}
.div {
	display:flex;
	width: 425px;
	overflow: hidden;
	background-color: #ddd;
	border-radius: 50px;
	align-items: center;

}
.div1 {
	display:flex;
	overflow: hidden;
	align-items: center;
	position: relative;

}
.div2 {
	display:flex;
	position: absolute;
	left: 410px;
	width: 23px;
	z-index:10;
}
.arrow {
  padding: 0;
  background: #ddd;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  display: block;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  background: #ccc;
  cursor: pointer;
}

ul {
  height: 130px;

  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

ul img {
  width: 130px;
  height: 130px;
  display: block; /* убираем пустое место вокруг картинок */
}

ul li {
  transition: 1s all;
  display: inline-block; /* убираем пустое место между элементами списка */
}